<md-card>
    <md-card-content id="map_canvas" >
        <ui-gmap-google-map center='map.map.center' zoom='map.map.zoom'>
            <ui-gmap-marker coords="map.marker.coords" options="map.marker.options" idkey="map.marker.id">
            </ui-gmap-marker>
        </ui-gmap-google-map>
    </md-card-content>
</md-card>

<div layout="row" layout-align="end end" ng-click="map.showAdvanced($event)">
    <md-button class="md-fab" aria-label="Eat cake" >
        <md-icon class="fa fa-plus"></md-icon>
    </md-button>
</div>