<md-content id="content" layout="column" flex class="md-padding">        
    <md-card>
        <md-card-content id="map_canvas" >
            <ui-gmap-google-map center='map.map.center' zoom='map.map.zoom'>
                <div ng-repeat="marker in map.markers">
                    <ui-gmap-marker coords="marker.coords" options="marker.options" idkey="marker.id" click="map.onClick(marker)" events="marker.events">
                        <ui-gmap-window options="marker.windowOptions" closeClick="map.closeClick(marker)">
                            <div>
                                <h5>Nombre: {{marker.datas.tag}}</h5>
                                <p>Temperatura: {{marker.datas.temperature}} ºC</p>
                                <p>Humedad: {{marker.datas.humedity}} %</p>
                            </div>
                        </ui-gmap-window>
                    </ui-gmap-marker>
                </div>
            </ui-gmap-google-map>
        </md-card-content>
    </md-card>
</md-content>
<div layout="row" layout-align="end end">
    <md-button class="md-fab" aria-label="Eat cake"  ng-click="map.showAdvanced($event)">
        <md-icon class="fa fa-plus"></md-icon>
    </md-button>
</div>